<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<h3><%= @restaurant.address %></h3>
<p><%= @restaurant.phone_number %></p>

<p>
  <strong>Reviews</strong>
  <%= link_to "Write a review", new_restaurant_review_path(@restaurant) %>
</p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <p>
        <%= review.rating %>/5 -
        <%= review.content %>
      </p>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "Back to all restaurants", restaurants_path %>
